*{
    margin:0;
    padding:0;
    box-sizing: border-box;

}/* elemento obrigatorio para resert da configuração da pagina*/

#container{
    border: 4px groove blue;
    margin: 0 auto; /* desloca o obejeto inteiro da lateral do navegador - efeito distanciamento - para funcionar precisa de pelo menos uma referência de altura ou largura para poder centralizar*/
    padding-left: 10px; /* desloca o texto inteiro dentro do box - efeito distanciamento*/
    background-image:url(img/montanha.jpg);
    width:60%; /* largura*/
    height: 800px; /* altura*/
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}
#dv1 {
    box-sizing: content-box; 
    width: 300px;
    height: 100px;
    padding: 30px;
    border: 10px solid gray;
   
    margin-bottom: 10px;
}
#dv2 {
    box-sizing: border-box;
    width: 300px;
    height: 100px;
    padding: 30px;
    border: 10px solid hsla(120, 100%, 25%, 048%);
    /* background-color: aqua; */
    /* background-image: linear-gradient(to left, red,green,blue); */

}